<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>

<body>
    <h1>Detail View</h1>
    <p>Name: {{ entry.name }}</p>
    <p>Phone Number: {{ entry.phone_number }}</p>
    <p>Entry Time: {{ entry.entry_time }}</p>
    <!-- Booking form -->
    <form method="post">
        <!-- Add booking form fields -->
        <input type="submit" value="Book Food">
    </form>
</body>

</html>